.product-features {
    margin: 10px 0;
}
.product-title {
    font-size: 25px;
}
.product-image {
    display: flex;
    justify-content: center;
}
.product-image img {
    width: 250px;
    height: 300px;

}
.product-list-item { 
    border-radius: 50%;
    width: 250px;
    height: 250px; 

}
.css-mhc70k-MuiGrid-root {
    max-width: 100%;
}
.css-1tppydz-MuiGrid-root {
    max-width: 20%;
}
.MuiCardContent-root {
    height: 250px;
}
.css-1qsxih2 {
    max-width: 1400px;
}
@media (min-width: 1536px) {
    .css-pjvi1b {
        flex-basis: 25%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 25%;
    }
}