.product-list-item {
    max-width: 100%;
    border-radius: 3%;
}
.product-image {
    display: flex;
    justify-content: center;
}
.product-image img {
    height: 250px;
    width: 221px;
    margin-left: -5px;
}
.product-title {
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}
.product-features {
    color: #a5a5a5;
    margin-top: 5px;
    margin-bottom: 5px;
}
.product-price {
    color: rgb(245, 154, 87);
    margin-top: 5px;
    margin-bottom: 5px;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    width: 150px;
    height: 35px;
    border-radius: 25px;
    background-color: rgb(245, 154, 87);
    border: none;
    color: white;

}

@media (min-width: 1536px) {
    .css-1tppydz-MuiGrid-root {
        -webkit-flex-basis: 33.333333%;
        -ms-flex-preferred-size: 33.333333%;
        flex-basis: 33.333333%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 20%;
    }
}
.wishlist_products {
    width: 40px;
    height: 40px;
    background-image: url(Icons/Favorite.png);
    background-repeat: no-repeat;
}
@media (min-width: 1536px) {
    .css-pjvi1b {
        flex-basis: 33.3333%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 20%;
    }
}
.css-79xub {
    color: white;
    border-radius: 25px;
    background-color: rgb(245, 154, 87);
    border: none;
}
.like_button {
    border: none;
    background-color: white;
}