.bottom_menu {
    display: flex;
    width: 80%;
    align-items: center;
    padding-left: 0;
}
.bottom_menu a {
    padding-left: 20px;
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-weight: 600;
    font-size: 14px;
}
.home {
    color: rgb(65, 65, 65);
    font-weight: 600;
    font-size: 14px;
    list-style-type: none;
}
.chairs {
    background-image: url(Icons/Chair.svg);
    background-repeat: no-repeat;
    background-position-x: -5px;
    padding-left: 20px;
    list-style-type: none;
}
.tablets {
    background-image: url(Icons/Tables.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    list-style-type: none;
}
.sofas {
    background-image: url(Icons/Sofas.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    list-style-type: none;
}
.armchairs {
    background-image: url(Icons/Armchairs.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    list-style-type: none;
}
.beds {
    background-image: url(Icons/Beds.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    list-style-type: none;
}
.storage {
    background-image: url(Icons/Storage.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    list-style-type: none;
}
.textiles {
    background-image: url(Icons/Textiles.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    list-style-type: none;
}
.lighting {
    background-image: url(Icons/Lighting.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    list-style-type: none;
}
.toys {
    background-image: url(Icons/Toys.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    list-style-type: none;
}
.decor {
    background-image: url(Icons/Decor.svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    list-style-type: none;
}
.btn_free_shipping {
    width: 20%;
    width: 238px;
    height: 28px;
    border: none;
    background-color: rgba(224, 234, 240, 1);
    text-align: center;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    padding: 5px 10px;
    min-height: 28px;
    font-size: 11px;
}
.btn_free_shipping a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
.all_bottom_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.MuiToolbar-root {
    width: 100%;
}
.css-1e1uf6w-MuiToolbar-root {
    padding: 70px;
    padding-bottom: 30px;
}
.favorite {
    margin-right: 20px;
}