.cart_products_extended {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(209, 208, 208);
    height: 120px;
    width: 100%;
}
.remove_button {
    width: 10px;
    height: 40px;
}
.MuiGrid-root {
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding-left: 8%;
}
.product_title {
    width: 100px;
    margin: 20px;
    text-align: center;
    padding-left: 5%;
    padding-right: 6%;
    font-size: 25px;
}
.product-img {
    padding-right: 10%;
    padding-left: 6%;
}
.product_count {
    display: flex;
    width: 300px;
    padding-left: 5%;
    font-size: 20px;
    color: rgb(245, 154, 87);
}
