.main_container {
    max-width: 1490px;
    height: 40px;
}
.css-hyum1k-MuiToolbar-root {
    min-height: 40px;
}
.middle_header {
    display: flex;
    background-color: rgba(251, 250, 247, 1);
    justify-content: space-between;
}